body{
    background-color:black;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

h1{
    color: #66fcf1;
    text-align: center;
    font-family: stencil;
    font-size: xx-large;
}

h2{
  color: #66fcf1;
    text-align: center;
    font-family: stencil;
    font-size: large;
}

.division{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
}

button{
    margin: 5px;
    color: #66fcf1;
    border: solid 2px #66fcf1;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: black;
    transition: all .5s;
    height: 10vh;
}

button:hover{
  cursor: pointer;
  scale: 1.1;
  transition: all .5s;
  background-color: #66fcf1;
  color: black;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 600px) {
    h1 {font-size: large}
    h2 {font-size: small}
  }
  
  @media screen and (max-width: 600px) {
  
    .division {
      flex-direction: column;
    }
    .img{
      height: 10vh;
    }
  }
  